<%= form_with(model: listing) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% listing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :cuisine %>
    <%= form.text_field :cuisine %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.rich_text_area :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :available_date %>
    <%= form.text_field :available_date %>
  </div>

   <div class="field">
    <%= form.label :allergy_id %>
    <%= form.select :allergy_id, @allergies.map {|a| [a.name, a.id]} %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, accept: "image/png, image/jpg, image/jpeg" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
