<%=image_tag('6.png', class:"hero-body")%></br>

<h1>Listings</h1>
<p id="notice"><%= notice %></p>

<div>
  <form action="/search">
    <input name= "q" type="text" placeholder="search" aria-label="search">
    <select name='selected'> <option value='title'> title </option> <option value='suburb'> suburb </option></select>
    <button type="submit">Search</button>
  </form>
</div>

<p style= "display:flex; justify-content:center; margin:10px;"><%= link_to 'Click here to post a new meal to sell or donate!', new_listing_path, class: "post-button" %></p></br>
<%= render "shared/listingcard" %>

</br>

<%= render "shared/footer" %>

