<p id="notice"><%= notice %></p>

<h1>Hello <%= current_user.username%></h1>

<%# check if item sold, lists sold %>
<% if @listing.sold %>
  <h3> This is meal has been claimed: </h3>
<%# check if current user and that they aren't able to purchase own item %>
<% elsif current_user && current_user.id == @listing.user_id %>
  <h3> You posted this meal! ...it's yet to be claimed </h3>
<%# current user able to buy meal %>
<% elsif current_user %>
<%# buy button %>
  <%= button_to "Get the meal!", place_order_path %>
<% else %>
  <p> Please sign in to claim a meal </p>
<% end %>

<div class="card">

  <%# user attaching image and if there is none attached %>
  <%# <div>
    <% if @listing.image.attached? %>
        <%# <%= image_tag @listing.image, alt: @listing.title %> %>
    <%# <% else %> %>
      <%# <%= image_tag "/assets/images/loading.jpg", alt: @listing.title %> %>
    <%# <% end %> %>
  <%# </div> %> %>

  <p>
    <strong>Title:</strong>
    <%= @listing.title %>
  </p>

  <p>
    <strong>Cuisine:</strong>
    <%= @listing.cuisine %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @listing.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @listing.price %>
  </p>

  <p>
    <strong>Available date:</strong>
    <%= @listing.available_date %>
  </p>

  <p>
    <strong>Allergies listed:</strong>
    <%= @listing.allergy.name %>
  </p>

    <p>
    <strong>Location for Pick Up:</strong>
      <%= @listing.user.address.suburb %>,
      <%= @listing.user.address.postcode %></h5>
  </p>

  <%# user not see options if they don't own the listing %>
  <% if current_user.id == @listing.user_id %>
      <%= link_to 'Edit this meals details!', edit_listing_path(@listing), class: "button button-primary" %>
  <% end %>
</div>

<%= link_to 'Back', listings_path %>
