<%=image_tag('3.png', class:"hero-body")%></br>

<h1> 👋 Hello <%= current_user.username%>!</h1>

<h3>Here are the meals that you have claimed 🌞 :</h3>

<div class="card">
  <body>
    <% @bought_items.each do |item| %>
      <div>
      <%# user attaching image and if there is none attached %>
        <% if item.listing.image.attached? %>
          <%= image_tag item.listing.image, alt: item.listing.title %>
        <% else %>
          <%=image_tag('loading.jpg')%>
        <% end %>
      </div>
      <span>
        <td><%= item.listing.title %></td>
        <td> Cusine:<%= item.listing.cuisine %></td>
        <td><%= item.listing.description %></td>
        <td> Allergies: <%= item.listing.allergy.name %></td>
        <td> Date Claimed:<%= item.listing.available_date %></td>
        <td> Price: $<%= item.listing.price %></td>
        <td> Bought from:<%= item.listing.user.username %></td>
        <h5> Location picked up: 
            <%= item.listing.user.address.street_number %>,
            <%= item.listing.user.address.street_name %>,
            <%= item.listing.user.address.suburb %>,
            <%= item.listing.user.address.postcode %></h5>
      </span>
    <% end %>
  </body>
</div>

