<h1>Hello <%= current_user.username%>!</h1>

<h3>Here are the meals that you have sold or donated:</h3>

<div class="card">

  <body>
    <% @sold_items.each do |item| %>
      <span>
        <td><%= item.listing.title %></td>
        <td> Cusine:<%= item.listing.cuisine %></td>
        <td><%= item.listing.description %></td>
        <td> Allergies: <%= item.listing.allergy.name %></td>
        <td> Date Claimed:<%= item.listing.available_date %></td>
        <td> Price: $<%= item.listing.price %></td>
        <td> Bought by:<%= item.listing.buyer.username %></td>
        <h5> Location for picked up: 
            <%= listing.listing.seller.address.suburb %>,
            <%= listing.listing.seller.address.postcode %></h5>
      </span>
    <% end %>
  </body>
  </div>